---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/batches/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic NDZiNzU1N2Q5NTY0ZmVkMTQxYTYxNDYyMTNkMzEwZDA=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e801c92e4d479317c493ae29a6e02bb"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":1,"fraction_completed":"0/1","completed":false,"status":"Unpaid","data":[{"object":"Datum","id":1,"status":"unpaid","contracts_count":0,"parameters":{"key":"value"}}]}'
  recorded_at: Fri, 07 Sep 2018 21:44:40 GMT
recorded_with: VCR 4.0.0
