---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/batches/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ODY1YTMxZThkYTFhYjg4OTZlMzEwODg0ZWExZjZiYTY=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62f2a618aad5555378ea6bf81852e39c"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":1,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Fri, 07 Sep 2018 02:17:56 GMT
recorded_with: VCR 4.0.0
