---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guild/2/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data":[{"audio_url":null}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YTRiMjVmNjBkYjRjN2M5OTk5YWQ0MmNjYzVkNzY3ZDI6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb2c05ad62575e265923d3389d15f5ad"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"44","type":"batches","relationships":{"data":{"data":[{"id":"53","type":"data"}]},"webhooks":{"data":[]}}}}'
  recorded_at: Tue, 26 Jun 2018 21:07:08 GMT
recorded_with: VCR 4.0.0
