---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guild/4/batches
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Your batch was not be created. You must have at least one
        datum in your batch."}'
  recorded_at: Mon, 06 Aug 2018 03:39:46 GMT
- request:
    method: post
    uri: https://testing.openguilds.com/api/batches/5/debits/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":500,"error":"Internal Server Error"}'
  recorded_at: Mon, 06 Aug 2018 03:39:46 GMT
- request:
    method: get
    uri: https://testing.openguilds.com/api/batches/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7914862377878957ae8bd4a7999c3394"
    body:
      encoding: UTF-8
      string: '{"object":"Batch","id":3,"fraction_completed":"0/1","completed":false,"status":"Paid"}'
  recorded_at: Mon, 06 Aug 2018 03:39:47 GMT
recorded_with: VCR 4.0.0
