---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guild/4/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data":[{"audio_url":null}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a7fae4716f02790814ba49f58c4be4"
    body:
      encoding: UTF-8
      string: '{"object":"Batch","id":3,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Thu, 02 Aug 2018 20:23:39 GMT
- request:
    method: get
    uri: https://testing.openguilds.com/api/batches/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a7fae4716f02790814ba49f58c4be4"
    body:
      encoding: UTF-8
      string: '{"object":"Batch","id":3,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Thu, 02 Aug 2018 20:31:07 GMT
recorded_with: VCR 4.0.0
