---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guilds/7/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data_attributes":[{"parameters_attributes":[{"key":"image_url","value":"www.images.com/image1.png"}]}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NDZjYjg4MzkxYzgwZmU2MGE3NzNhYWY4ODk5OWZmYmM6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cc8b68ca39b19b49365eb283ae9622d"
    body:
      encoding: UTF-8
      string: '{"object":"Batch","id":11,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Wed, 08 Aug 2018 21:59:48 GMT
- request:
    method: get
    uri: https://testing.openguilds.com/api/batches/11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NDZjYjg4MzkxYzgwZmU2MGE3NzNhYWY4ODk5OWZmYmM6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2cc8b68ca39b19b49365eb283ae9622d"
    body:
      encoding: UTF-8
      string: '{"object":"Batch","id":11,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Wed, 08 Aug 2018 22:00:41 GMT
- request:
    method: post
    uri: https://testing.openguilds.com/api/batches/11/debits/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NDZjYjg4MzkxYzgwZmU2MGE3NzNhYWY4ODk5OWZmYmM6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9cac7f884bb985400217a55d0d2e8453"
    body:
      encoding: UTF-8
      string: '{"object":"Wallet","id":6,"balance":"$100.00","transactions":[{"object":"Transaction","id":16,"type":"Credit","amount":"$100.00","source":{"object":"User","id":6,"email":"test1@test.com"}},{"object":"Transaction","id":19,"type":"Debit","amount":"$0.25","source":{"object":"Wallet","id":14,"debit":{"id":19,"source_object_type":"Bond","source_object_id":14,"amount_cents":25,"amount_currency":"USD","created_at":"2018-08-08T22:00:50Z","updated_at":"2018-08-08T22:00:50Z","wallet_id":6},"issued_for":{"id":12,"batch_id":11,"created_at":"2018-08-08T21:59:47Z","updated_at":"2018-08-08T22:00:50Z","parent_id":null,"status":"paid","contracts_count":1}}}]}'
  recorded_at: Wed, 08 Aug 2018 22:00:51 GMT
recorded_with: VCR 4.0.0
