---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/wallet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c1dd72367c02314a5616dfc31cceded"
    body:
      encoding: UTF-8
      string: '{"object":"Wallet","id":4,"balance":"$99.66","transactions":[{"object":"Transaction","id":5,"type":"Credit","amount":"$100.00","source":{"object":"User","id":4,"email":"s@s.com"}},{"object":"Transaction","id":6,"type":"Debit","amount":"$0.01","source":{"object":"Wallet","id":3,"debit":{"id":6,"source_object_type":"Bond","source_object_id":3,"amount_cents":1,"amount_currency":"USD","created_at":"2018-08-02T21:34:19Z","updated_at":"2018-08-02T21:34:19Z","wallet_id":4},"issued_for":{"id":4,"batch_id":3,"created_at":"2018-08-02T20:23:39Z","updated_at":"2018-08-02T21:34:19Z","parent_id":null,"status":"paid","contracts_count":0}}},{"object":"Transaction","id":7,"type":"Debit","amount":"$0.01","source":{"object":"Wallet","id":4,"debit":{"id":7,"source_object_type":"Bond","source_object_id":4,"amount_cents":1,"amount_currency":"USD","created_at":"2018-08-02T23:58:48Z","updated_at":"2018-08-02T23:58:48Z","wallet_id":4},"issued_for":{"id":6,"batch_id":5,"created_at":"2018-08-02T20:41:08Z","updated_at":"2018-08-02T23:58:48Z","parent_id":null,"status":"paid","contracts_count":0}}},{"object":"Transaction","id":8,"type":"Deb[...]
