---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/wallet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd6c06729cdae5bc975fc55c7337b786"
    body:
      encoding: UTF-8
      string: '{"object":"Wallet","id":4,"balance":"$100.00","transactions":[{"object":"Transaction","id":5,"type":"Credit","amount":"$100.00","source":{"object":"User","id":4,"email":"s@s.com"}}]}'
  recorded_at: Thu, 02 Aug 2018 21:22:27 GMT
- request:
    method: post
    uri: https://testing.openguilds.com/api/wallet/credits/?amount=amount&email=email&token=token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3150a8d17cdb8381ce9751b7368f3833"
    body:
      encoding: UTF-8
      string: Cannot charge a customer that has no active card
  recorded_at: Thu, 02 Aug 2018 21:30:00 GMT
recorded_with: VCR 4.0.0
