---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/wallet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGNhOTY2MDllOGIwOTc5YjBiNGY0ZTM0NGUzZmIzNmI6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"121cefdf76588bfd3715b6e1a2b1b371"
    body:
      encoding: UTF-8
      string: '{"object":"Wallet","id":4,"balance":"$99.73","transactions":[{"object":"Transaction","id":5,"type":"Credit","amount":"$100.00","source":{"object":"User","id":4,"email":"s@s.com"}},{"object":"Transaction","id":6,"type":"Debit","amount":"$0.01","source":{"object":"Wallet","id":3,"debit":{"id":6,"source_object_type":"Bond","source_object_id":3,"amount_cents":1,"amount_currency":"USD","created_at":"2018-08-02T21:34:19Z","updated_at":"2018-08-02T21:34:19Z","wallet_id":4},"issued_for":{"id":4,"payload":"{\"audio_url\":null}","batch_id":3,"created_at":"2018-08-02T20:23:39Z","updated_at":"2018-08-02T21:34:19Z","parent_id":null,"status":"paid","contracts_count":0}}},{"object":"Transaction","id":7,"type":"Debit","amount":"$0.01","source":{"object":"Wallet","id":4,"debit":{"id":7,"source_object_type":"Bond","source_object_id":4,"amount_cents":1,"amount_currency":"USD","created_at":"2018-08-02T23:58:48Z","updated_at":"2018-08-02T23:58:48Z","wallet_id":4},"issued_for":{"id":6,"payload":"{\"audio_url\":null}","batch_id":5,"created_at":"2018-08-02T20:41:08Z","updated_at":"2018-08-02T23:58:48Z","parent_id":null,"status":"paid","contracts_count":0}}},{"object":"Transaction","id":8,"type":"Debit","amount":"$0.25","source":{"object":"Wallet","id":5,"debit":{"id":8,"source_object_type":"Bond","source_object_id":5,"amount_cents":25,"amount_currency":"USD","created_at":"2018-08-04T00:11:30Z","updated_at":"2018-08-04T00:11:30Z","wallet_id":4},"issued_for":{"id":8,"payload":"{\"audioUrl\":
        \"https://s3.ca-central-1.amazonaws.com/wetranscribe-development/store/voa.mp3\"
        }","batch_id":7,"created_at":"2018-08-04T00:11:13Z","updated_at":"2018-08-04T00:11:30Z","parent_id":null,"status":"paid","contracts_count":0}}}]}'
  recorded_at: Mon, 06 Aug 2018 03:39:45 GMT
recorded_with: VCR 4.0.0
