---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/guilds/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic N2NjNTdhODNiZjEzMWI4ODA4ZWI3OWFmOGNiYmMwN2U=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87abb0e9e198026b9f6f87afc3df45e2"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Guild","id":1,"name":"Test Guild","description":"Guild used
        for testing","price_floor":"$5.00"}'
  recorded_at: Sat, 08 Sep 2018 18:27:27 GMT
recorded_with: VCR 4.0.0
