---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guilds/1/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data_attributes":[{"parameters_attributes":[{"key":"key","value":"value"}]}]}}'
    headers:
      Authorization:
      - Basic NDQ3OTIxNjZlZGRlZDE4N2FmMDRlYTdmODFiMDQ1NDU=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2c92f01370feadfbbde7421a27407f4"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":1,"fraction_completed":"0/1","completed":false,"status":"Unpaid","data":[{"object":"Datum","id":1,"status":"unpaid","contracts_count":0,"parameters":{"key":"value"}}]}'
  recorded_at: Mon, 10 Sep 2018 22:03:35 GMT
recorded_with: VCR 4.0.0
