---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guild/1/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data_attributes":[{"parameters_attributes":[{"key":"key","value":"value"}]}]}}'
    headers:
      Authorization:
      - Basic ODY1YTMxZThkYTFhYjg4OTZlMzEwODg0ZWExZjZiYTY=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c79f0ae15a6254b5325822aa7ecf4e79"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":1,"fraction_completed":"0/1","completed":false,"status":"Unpaid"}'
  recorded_at: Fri, 07 Sep 2018 01:38:08 GMT
recorded_with: VCR 4.0.0
