---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guilds/1/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data_attributes":[{"parameters_attributes":[{"key":"key","value":"value"}]}]}}'
    headers:
      Authorization:
      - Basic N2NjNTdhODNiZjEzMWI4ODA4ZWI3OWFmOGNiYmMwN2U=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a31769138cbfd37df7d82168248d11ab"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":2,"fraction_completed":"0/1","completed":false,"status":"Unpaid","data":[{"object":"Datum","id":2,"status":"unpaid","contracts_count":0,"parameters":{"key":"value"}}]}'
  recorded_at: Sat, 08 Sep 2018 19:50:24 GMT
recorded_with: VCR 4.0.0
