---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/guild/1/batches
    body:
      encoding: UTF-8
      string: '{"batch":{"data_attributes":[{"parameters_attributes":[{"key":"key","value":"value"}]}]}}'
    headers:
      Authorization:
      - Basic NDZiNzU1N2Q5NTY0ZmVkMTQxYTYxNDYyMTNkMzEwZDA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ecb05d43b78e3ddfd24a17d6fac3b885"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Batch","id":1,"fraction_completed":"0/1","completed":false,"status":"Unpaid","data":[{"object":"Datum","id":1,"status":"unpaid","contracts_count":0,"parameters":{"key":"value"}}]}'
  recorded_at: Fri, 07 Sep 2018 21:43:02 GMT
recorded_with: VCR 4.0.0
