---
http_interactions:
- request:
    method: delete
    uri: https://testing.openguilds.com/api/batches/15
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic NzZmY2ZhODMzZWYzOTI5ZmE3M2EzNGMzNTgyN2M4NTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fcdf5015a4e3c1bf37a224d63a756a58"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"List","url":"/wallet","has_more":false,"data":[{"object":"Transaction","id":3619,"type":"Credit","amount":"$0.05","amount_cents":5,"source":{"object":"Bond","id":3617,"debit":{"id":3618,"source_object_type":"Bond","source_object_id":3617,"amount_cents":5,"amount_currency":"USD","created_at":"2018-10-11T22:02:48Z","updated_at":"2018-10-11T22:02:48Z","wallet_id":1},"issued_for":{"id":246,"batch_id":15,"created_at":"2018-10-11T22:02:33Z","updated_at":"2018-10-11T22:02:48Z","parent_id":null,"status":"paid","contracts_count":1,"deleted_at":null,"bond_id":3617}}}]}'
  recorded_at: Thu, 11 Oct 2018 22:03:29 GMT
recorded_with: VCR 4.0.0
