---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/batches/1/debits
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic NDQ3OTIxNjZlZGRlZDE4N2FmMDRlYTdmODFiMDQ1NDU=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9cf43a2572686cfa6716fd5723f995a"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"List","url":"/wallet","has_more":false,"data":[{"object":"Transaction","id":2,"type":"Debit","amount":"$5.00","amount_cents":500,"source":{"object":"Bond","id":1,"debit":{"id":2,"source_object_type":"Bond","source_object_id":1,"amount_cents":500,"amount_currency":"USD","created_at":"2018-09-10T22:03:47Z","updated_at":"2018-09-10T22:03:47Z","wallet_id":1},"issued_for":{"batch_id":1,"id":1,"created_at":"2018-09-10T22:03:35Z","updated_at":"2018-09-10T22:03:47Z","parent_id":null,"status":"paid","contracts_count":0}}}]}'
  recorded_at: Mon, 10 Sep 2018 22:03:47 GMT
recorded_with: VCR 4.0.0
