---
http_interactions:
- request:
    method: post
    uri: https://testing.openguilds.com/api/batches/1/debits
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic N2NjNTdhODNiZjEzMWI4ODA4ZWI3OWFmOGNiYmMwN2U=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb6be2a4b54cd4d81c4022eadf46e195"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Wallet","id":1,"balance":"$5.00","transactions":[{"object":"Transaction","id":2,"type":"Debit","amount":"$5.00","source":{"object":"Wallet","id":1,"debit":{"id":2,"source_object_type":"Bond","source_object_id":1,"amount_cents":500,"amount_currency":"USD","created_at":"2018-09-08T01:54:13Z","updated_at":"2018-09-08T01:54:13Z","wallet_id":1},"issued_for":{"id":1,"batch_id":1,"created_at":"2018-09-08T01:54:07Z","updated_at":"2018-09-08T01:54:13Z","parent_id":null,"status":"paid","contracts_count":0}}},{"object":"Transaction","id":1,"type":"Credit","amount":"$5.00","source":{"object":"User","id":1,"email":"email@example.com"}}]}'
  recorded_at: Sat, 08 Sep 2018 01:54:31 GMT
recorded_with: VCR 4.0.0
