---
http_interactions:
- request:
    method: get
    uri: https://testing.openguilds.com/api/wallet
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic YTIwOWIwYzA3YTg5NmUzNDMwNWI5MzU1MjZkYmMzZmY=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d1837cb2722b6bbce7bbeb76648e15b2"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"Wallet","id":1,"balance":"$5.00","transactions":[{"object":"Transaction","id":1,"type":"Credit","amount":"$5.00","source":{"object":"User","id":1,"email":"email@example.com"}}]}'
  recorded_at: Fri, 07 Sep 2018 22:26:44 GMT
recorded_with: VCR 4.0.0
